@import './styles/colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Exo:400,700,800);
html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.page-body {}

.top-margin {
    margin-top: 100px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.signup-page {
    .signup-form {
        form {
            margin-top: 25px;
        }
    }
}


#navbar {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    .navbar-brand {
        margin-top: 5px;
        padding-top: 5px;
        height: 40px;
        img {
            height: 40px;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .navbar-logo {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Exo', sans-serif;
    }
    a {
        color: $white;
        padding: 15px 10px;
        font-size: 18px;
        font-weight: 500;
    }
}

#home-page #navbar {
	background-color: transparent;
	border-bottom: 3px solid $green;
	 a {
		color:gray;
	}
}

.signin-page {
    .signin-form {
        form {
            margin-top: 25px;
            .forget-password {
                margin-left: 25px;
                font-size: 13px;
                color: $navy;
            }
        }
    }
}

#home-page {
    .poster {
        min-height: 500px;
        height: 100vh;
        background-image: url(https://cdn-images-1.medium.com/max/1200/1*sY7tE-ciILm9qqr7731tUA.jpeg);
        background-image: url(https://wallpaperscraft.com/image/batman_arkham_city_joker_smile_suit_flower_fan_art_black_and_white_19699_1920x1080.jpg);
        // position: absolute;
        //   // top: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        .content {
            text-align: center;
            margin: auto;
            margin-top: 40vh;
            .header {
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
