@import './styles/colors.scss';
$red: red;
.red {
	color: $red;
}

.page-body {
	margin-top:20px;
}

.float-left{
	float: left;
}

.float-right {
	float:right;
}

.signup-page {
	.signup-form {
		form {
			margin-top:25px;
		}
	}

}

.signin-page{
	.signin-form {
		form {
			margin-top:25px;
			.forget-password {
				margin-left: 25px;
				font-size: 13px;
				color: $navy;
			}

		}
	}
}
