@import './styles/colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Exo:400,700,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans|Dosis:400,700|Alegreya+Sans|Oxygen);
html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;

    .card img {
    	max-width: 100%;
    }
}

.page-body {}

.top-margin {
    margin-top: 100px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.signup-page {
    .signup-form {
        form {
            margin-top: 25px;
        }
    }
}


#navbar {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 3px solid $green;
    .navbar-brand {
        margin-top: 5px;
        padding-top: 5px;
        height: 40px;
        img {
            height: 40px;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .navbar-logo {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Exo', sans-serif;
    }
    a {
        color: $white;
        padding: 15px 10px;
        font-size: 18px;
        font-weight: 500;
    }
}

#home-page #navbar {
	 a {
		// color:gray;
	}
}

.signin-page {
    .signin-form {
        form {
            margin-top: 25px;
            .forget-password {
                margin-left: 25px;
                font-size: 13px;
                color: $navy;
            }
        }
    }
}






