
@import '../styles/colors.scss';
body {
	.card-block {
		position:relative;
	}
    .active-step {
    	.level1{
    	}
    	.level2 {
    		border: 2px solid $purple;
    	}
    	.level3 {
    		border: 2px solid $green;
    	}
        background: white;
        .step-label.label {
            background: $orange;
            a {
                color: white;
            }
        }
    }
    .not-active-step {
    	.level{
    		border: 2px solid transparent;
    	}
    	.level2, .level3 {

	        border: 2px solid gray;
    	}
        background: white;
        .step-label.label {
            background: white;
            a {
                color: $black;
            }
        }
    }
    .path-span {
        i {
            margin-left: 6px;
            margin-right: 4px;
        }
        white-space: normal;
    }
    .children-steps {}
    .card-block {
        padding: 0.6em;
    }
    .step-subtitle {
        font-size: 12px;
    }

    .complete-icon {
    	position:absolute;
    	top:5px;
    	right: 5px;
    	font-size: 30px;
    }
}

.plan-step.top-level {
	margin-bottom: 15px;
}
